body {
    background-color: #c89666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFFFF;
    text-align: center;
}

header {
    background-color: #e1b382;
    padding-bottom: 5px;
    border-radius: 10px;
}

nav ul{
    text-align: justify;
    font-weight: bold;
}

footer {
    background-color: #e1b382;
    border-radius: 15px;
}

ul {
  list-style-type: none;
}

ol {
    list-style-type: none;
}

.parts {
    background-color: #2d545e;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
}

#name{
    font-weight: bold;
}

nav ul a:visited {
    color: #000000;
}

nav ul a:hover {
    color: #2d545e;
}

h1 {
    background-color: #2d545e;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


