/*.box > *{
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    background-color: rgb(96, 139, 168 / 0.2);
}

.box {
    border: 2px dotted rgb(96 139 168);
    display: flex;
    flex-direction: column-reverse;
} */

/* Flex-Container */
.flex-container {
    display: flex; /* Activate the flexbox */
    flex-direction: row; /* Items are placed in a row*/
    /* Distribute the items with space around */
    justify-content: space-around; 
    align-items: center;
    gap: 20px;
    border: 2px solid #880000;
    padding: 10px;
    background-color: #808080;
}

/* Flex-Items */
.flex-item {
    flex: 1; /* Each item grows equally */
    min-width: 100px; /* Minimum width for responsiveness */
    max-width: 200px; /* Maxmimum width for responsiveness */
    text-align: center;
    border: 1px solid #007bff;
    padding: 20px;
    background-color: #e3f2fd;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}